/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
 

/*End/*

/*Write CSS here*/

html *{
font-family: 'Quattrocento Sans', sans-serif;
font-size:100%;

}

a{
color:black;	
}

a:visited{
color:black;
}

a:hover{
	color:gold;
}

a:active{
	color:white;
}

img {
  max-width: 100%;
  height: auto;
}

.content{
  width:100%;
	height:1580px;
	margin:auto;
	margin-top: 1.03040816%; /*10/980*/

}

.content_about{
  width:100%;
  height:1300px;
  margin:auto;
  margin-top: 1.03040816%; /*10/980*/

}
.content_contact{
  width:100%;
  height:900px;
  margin:auto;
  margin-top: 10px; /*10/980*/

}
.logo{
  margin-right: 4.59183673%; /*45/980*/
  margin-left: 5.6122%; /*55/980*/
  margin-top: 1.3040816%;
}


.navigation li{
display: inline-block;
padding-right: 70px;
padding-left:62px;
padding-top:20px;
padding-bottom: 30px;
font-size: 18px;
margin: auto;
background-position: 50% 50%;
text-decoration:none;
}

.navigation li:hover{
color:gold;
}

#photo_container{
  width:100%;
 max-width:980px; 
 height:1244px;
 margin:0 7.3469%; /*72/980*/
 position:relative;
}

img #photo_container{
  position:absolute;
}

#first_sentence{
z-index: 300;
position:absolute;
top: 7.1428%; /*70/980*/
margin-left: 4.081632%;/*40/980*/
font-size: 2.7rem;
height:400px;

}

#last_sentence{
  z-index: 300;
  position:absolute;
  bottom:.51020408%; /*5/980*/
  font-size: 2.7rem;
  color:#f1CC6D;
  text-align:right;
  height:300px;
  margin-left: 400px; /*500/980*/
}


/*#ashleypic{
  position:relative;
  width:85%;
  max-width: 900px;
  height:85%;
	background-image: url("ashley4.jpg");
  background-size: cover;
  background-repeat: no-repeat 0 0;
  background-position: 10% 10%;
	margin-top: 1.04166667%; /*10/960
  margin-left: 7.8125%; /*75/960
	border:2px solid black;

/*#ashleypic img:hover{
	background-image: url("ashley4.jpeg");
	position:relative;
	background-size: cover;
	background-repeat: no-repeat 0 0;
	background-position: 20% 20%;
	z-index:1;*/


.footer{
	width:100%;
  max-width:980px;
  height:140px;
  position:relative;
}

.footer_about{
  width:100%;
  height:140px;
  position:relative;
  max-width: 980px;
  margin-top: -71.83673%; /*704/980*/
}

.footer_contact{
  clear:both;
  margin-bottom: -14.28571%; /*140/980*/
}

#box{
	width:6.12244%; /*60/980*/
  max-width: 980px;
	height:10px;
	border:5px solid gold; 
	margin: 3.06122% auto 0 auto; /*30/80*/
}
#box:hover {
  background-color: indigo;
}
#tagline{
  text-align: center;
	font-size:20px;
  padding-top: 10px;
}
.social_icons{
  margin-left:40.30612%; /*395/980*/
}
.social_icons li{
  display:inline-block;
  margin:auto;
  padding-top: 10px;
  opacity:.5;
}

.social_icons li:hover{
  opacity: 1;
}


/*About page*/


.long{
  overflow:hidden;
  width:30.61%; /*300/980*/
  max-width: 225px;
  height: 225px;
  float:left;
  position:relative;
  margin-left: 7.6530%; /*75/980*/
  margin-bottom: 7.1428%; /*70/980*/
  margin-top: 1.5306%; /*15/980*/
}

.long#sea{
   background-image:url(sea.jpg);
  background-size: cover;
}


.long#tree{
  background-image:url(ACHAPOKA_SITE_ELEMENT_WEB02.gif);
  background-size: cover;
  background-position: 10% 10%;
  
}

.long#italy{
  background-image:url(ACHAPOKA_SITE_ELEMENT_07.png);
  background-size: cover;
  
}

.long#hiking{
  background-image:url(hiking.jpg);
  background-size: cover;
  background-position: 10% 10%;
  
}

.long#philly{
  background-image:url(philly.jpg);
  background-size: cover;
  
}

.long#klimt{
  background-image:url(klimt.jpg);
  background-size: cover;
  margin-top: -20.81632%; /*-204/980*/
}
.long#petrified{
  background-image:url(petrified-wood.jpg);
  background-size: cover;
  
}
.long#ononon{
  background-image:url(ononon.png);
}
.long#food{
  background-image:url(food.jpg);
  background-size: cover;
}
.long#graf{
  background-image:url(graf.jpg);
  background-size: cover;
}

.overlay {
  /*background:rgba(102,102,102,.6);*/
  background: #f1CC6D;
  opacity: .6;
  height:100%;
  width:100%;
  max-width: 980px;
  position:absolute;
  top:-100%;
}
.overlay span {
  margin: auto 0;
  display:block;
  position:absolute;
  color:indigo;
  font-weight: bold;
  font-size: 27px;
  padding: 20px 5px 0 5px;
}







#largebox{
border:1px solid black;
}

.box_p{
  width:100%;
  max-width: 980px;
  height: 200px;
  border:1px solid black;
}

#box_1{
width:31.25%; /*300/980*/
max-width: 980px;
height: 200px;
padding: 5px;
}
#box_2{
width:31.25%; /*300/960*/
max-width: 980px;
height: 200px;
padding: 5px;
}
#box_3{
width:31.25%; /*300/960*/
max-width: 980px;
height: 200px;
padding: 5px;
}



/*contact*/

.form{
  font-size:20px;
}

#form_request{
  display:block;
  padding: 5px 0 5px 0;
  margin-top: 20px; /*10/960*/
  padding-left: 10px;
  display:inline-block;
}

#form_name{
  padding: 10px;
  display:block;
}

#form_email{
  padding: 10px;
  display:block;
}

#form_message{
  padding: 10px;
  display:block;
}


.text_area{
 margin-left: 10.4166667%; /*100/960*/
 margin-top:-45px; /*-45/960*/
 padding-top: 20px;
 padding-bottom: 10px;
 font-size:12px;
}

input{
  width: 33%;
  height:20%;
  font-size:12px;
}

#submit{
  width:30%;
  padding-bottom: 5px;

}

#reset{
  width:30%;
}

hr{
border-top:5px solid #ccc !important;
}
#tweet {
width:30%;
height:100%;
margin-left:660px;
margin-top: -340px;
}

/*media queries*/

@media only screen and (min-width:960px){
.content{
  max-width:980px;
}
.content_about{
  max-width: 980px;
}
.content_contact{
  max-width: 980px;
}
p#first_sentence{
  width:28%;
}
p#last_sentence{
width:40%;
}
.footer{
  max-width: 980px;
}

}

