/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
 

/*End/*

/*Write CSS here*/

html *{
font-family: 'Quattrocento Sans', sans-serif;

}

a{
color:black;	
}

a:visited{
color:black;
}

a:hover{
	color:gold;
}

a:active{
	color:white;
}

img {
  max-width: 100%;
}

.content{
	border: 2px solid purple;
	/*background-color: grey;*/
	width: 100%; /*960* change to 980*/
  max-width:980px;
	height:1100px;
	margin:auto;
	margin-top: 1.0416667%; /*10/960*/

}
.logo{
  margin-right: 50px;
  margin-left: 40px;
  margin-top: 10px;
}



/*.logo{
height:150px;
width:100%;
/*border:1px solid black;
display:inline-block;
margin-left:0;
}*/

/*.logo #Renee img{
/*font-size:100px;
text-align: center;
margin-top:10px;
border:1px solid black;	
display:inline-block;
width:68.7%; /*660px/960
max-width:660px;
height:150px;
/*border: 1px solid black;
margin-top: -12.2916667%; /*-118/960
margin-left: 15.625%; /*150/960
}*/

/*#plus{
	font-size:100px;
	/*border:1px solid black;
	display:inline-block;
	color:gold;
}

#plus2{
	font-size:100px;
	/*border:1px solid black;
	display:inline-block;
	color:gold;	
  float:right;
  margin-top: -16.1458333%; /*-155/960
}
*/

.navigation li{
display: inline-block;
padding-right: 70px;
padding-left:58px;
padding-top:20px;
padding-bottom: 30px;
font-size: 18px;
margin: auto;
background-position: 50% 50%;
text-decoration:none;
}

.navigation li:hover{
color:gold;
}

img#ashley.photos{
 margin: 0 55px;
}

/*#ashleypic{
  position:relative;
  width:85%;
  max-width: 900px;
  height:85%;
	background-image: url("ashley4.jpg");
  background-size: cover;
  background-repeat: no-repeat 0 0;
  background-position: 10% 10%;
	margin-top: 1.04166667%; /*10/960
  margin-left: 7.8125%; /*75/960
	border:2px solid black;

/*#ashleypic img:hover{
	background-image: url("ashley4.jpeg");
	position:relative;
	background-size: cover;
	background-repeat: no-repeat 0 0;
	background-position: 20% 20%;
	z-index:1;*/


.footer{
	width:100%;
  max-width: 960px;
	height:160px;
	border:2px solid black;
	margin-top:15.625%; /*150/960*/
}

#box{
	width:12.5%; /*120/960*/
  max-width: 120px;
	height:30px;
	border:5px solid gold;
	margin-top:40px; 
	margin-left: 400px;
}
#box:hover {
  background-color: indigo;
}
#tagline{
	margin-left:40.4166667%; /*388/960*/
	margin-top: 3.125%; /*30/960*/
	font-size:20px;
}


/*About page*/

#intro{
  color:black;
}

.interest{
  overflow:hidden;
	width:31.25%; /*300/960*/
  max-width: 300px;
	height: 200px; /*200/960*/
  border:1px solid black;
  float:left;
  position:relative;
  margin-left: 1.5625%; /*15/960*/
  margin-top: 1.5625%; /*15/960*/

}

.long{
 overflow:hidden;
  width:31.25%; /*300/960*/
  max-width: 300px;
  height: 300px;
  border:1px solid black;
  float:left;
  position:relative;
  margin-left: 1.5625%; /*15/960*/
  margin-top: 1.5625%; /*15/960*/
}

.interest#sea{
   background-image:url(sea.jpg);
  background-size: cover;
}


.interest#tree{
  background-image:url(trees.jpg);
  background-size: cover;
  
}

.interest#tam{
  background-image:url(tam.jpg);
  background-size: cover;
  
}

.interest#hiking{
  background-image:url(hiking.jpg);
  background-size: cover;
  
}

.long#philly{
  background-image:url(philly.jpg);
  background-size: cover;
  
}

.interest#klimt{
  background-image:url(klimt.jpg);
  background-size: cover;
  margin-top: -21.3541667%; /*-204/960*/
}
.interest#petrified{
  background-image:url(petrified-wood.jpg);
  background-size: cover;
  
}
.long#tree{
  background-image:url(trees.jpg);
  background-size: cover;
  background-position: 40% 20%;
}

.overlay {
  background:rgba(102,102,102,.5);
  height:100%;
  width:100%;
  max-width: 960px;
  position:absolute;
  top:-100%;
}
.overlay span {
  margin: 0 auto;
  display:block;
  position:absolute;
  color:white;
  padding: 20px 5px 0 5px;







#largebox{
border:1px solid black;
}

.box_p{
  width:100%;
  max-width: 960px;
  height: 200px;
  border:1px solid black;
}

#box_1{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}
#box_2{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}
#box_3{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}



/*contact*/

.form{
  font-size:20px;
}

#form_request{
  border:1px solid black;
  display:block;
  padding: 5px 0 5px 0;
  margin-top: 10px; /*10/960*/
  display:inline-block;
}

#form_name{
  padding: 20px;
  display:block;
}

#form_email{
  padding: 10px;
  display:block;
}

#form_message{
  padding: 10px;
  display:block;
}


.text_area{
 margin-left: 10.4166667%; /*100/960*/
 margin-top:-45px; /*-45/960*/
 padding-top: 10px;
 padding-bottom: 10px;
}

input{
  width: 33%;
  height:20%;
}

hr{
border-top:5px solid #ccc !important;
}





