/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
 

/*End/*

/*Write CSS here*/

html *{
font-family: 'Quattrocento Sans', sans-serif;

}

a{
color:black;	
}

a:visited{
color:black;
}

a:hover{
	color:gold;
}

a:active{
	color:white;
}

img {
  max-width: 100%;
}

.content{
	width: 980px; /*960* change to 980*/
	height:1580px;
	margin:auto;
	margin-top: 10px; /*10/960*/

}

.content_about{
  width: 980px; /*960* change to 980*/
  height:1300px;
  margin:auto;
  margin-top: 10px; /*10/960*/

}
.content_contact{
  width: 980px; /*960* change to 980*/
  height:900px;
  margin:auto;
  margin-top: 10px; /*10/960*/

}
.logo{
  margin-right: 45px;
  margin-left: 55px;
  margin-top: 10px;
}



/*.logo{
height:150px;
width:100%;
/*border:1px solid black;
display:inline-block;
margin-left:0;
}*/

/*.logo #Renee img{
/*font-size:100px;
text-align: center;
margin-top:10px;
border:1px solid black;	
display:inline-block;
width:68.7%; /*660px/960
max-width:660px;
height:150px;
/*border: 1px solid black;
margin-top: -12.2916667%; /*-118/960
margin-left: 15.625%; /*150/960
}*/

/*#plus{
	font-size:100px;
	/*border:1px solid black;
	display:inline-block;
	color:gold;
}

#plus2{
	font-size:100px;
	/*border:1px solid black;
	display:inline-block;
	color:gold;	
  float:right;
  margin-top: -16.1458333%; /*-155/960
}
*/

.navigation li{
display: inline-block;
padding-right: 70px;
padding-left:62px;
padding-top:20px;
padding-bottom: 30px;
font-size: 18px;
margin: auto;
background-position: 50% 50%;
text-decoration:none;
}

.navigation li:hover{
color:gold;
}

img#ashley.photos{
 margin: 0 72px;
}

#first_sentence{
display:block;
position:relative;
top:-1150px;
margin-left: 77px;
font-size: 42px;
width:28%;
height:400px;

}

#last_sentence{
  display:block;
  position:relative;
  top:-710px;
  font-size: 42px;
  color:#f1CC6D;
  text-align:right;
  width:40%;
  height:300px;
  margin-left: 500px;
}

/*#ashleypic{
  position:relative;
  width:85%;
  max-width: 900px;
  height:85%;
	background-image: url("ashley4.jpg");
  background-size: cover;
  background-repeat: no-repeat 0 0;
  background-position: 10% 10%;
	margin-top: 1.04166667%; /*10/960
  margin-left: 7.8125%; /*75/960
	border:2px solid black;

/*#ashleypic img:hover{
	background-image: url("ashley4.jpeg");
	position:relative;
	background-size: cover;
	background-repeat: no-repeat 0 0;
	background-position: 20% 20%;
	z-index:1;*/


.footer{
	width:100%;
  height:140px;
  position:relative;
  max-width: 980px;
  margin-top: -704px;
  clear:both;
}

.footer_about{
  width:100%;
  height:140px;
  position:relative;
  max-width: 980px;
  margin-top: -704px;
  clear:both;
}

.footer_contact{
  clear:both;
  margin-bottom: -140px;
}

#box{
	width:60px; /*120/960*/
  max-width: 120px;
	height:10px;
	border:5px solid gold; 
	margin: 30px auto 0 auto;
}
#box:hover {
  background-color: indigo;
}
#tagline{
  text-align: center;
	font-size:20px;
  padding-top: 10px;
}
.social_icons{
  margin-left:395px;
}
.social_icons li{
  display:inline-block;
  margin:auto;
  padding-top: 10px;
  opacity:.5;
}

.social_icons li:hover{
  opacity: 1;
}


/*About page*/


.long{
  overflow:hidden;
  width:31.25%; /*300/960*/
  max-width: 225px;
  height: 225px;
  float:left;
  position:relative;
  margin-left: 75px; /*15/960*/
  margin-bottom: 70px;
  margin-top: 1.5625%; /*15/960*/
}

.long#sea{
   background-image:url(sea.jpg);
  background-size: cover;
}


.long#tree{
  background-image:url(ACHAPOKA_SITE_ELEMENT_WEB02.gif);
  background-size: cover;
  background-position: 10% 10%;
  
}

.long#italy{
  background-image:url(ACHAPOKA_SITE_ELEMENT_07.png);
  background-size: cover;
  
}

.long#hiking{
  background-image:url(hiking.jpg);
  background-size: cover;
  background-position: 10% 10%;
  
}

.long#philly{
  background-image:url(philly.jpg);
  background-size: cover;
  
}

.long#klimt{
  background-image:url(klimt.jpg);
  background-size: cover;
  margin-top: -21.3541667%; /*-204/960*/
}
.long#petrified{
  background-image:url(petrified-wood.jpg);
  background-size: cover;
  
}
.long#ononon{
  background-image:url(ononon.png);
}
.long#food{
  background-image:url(food.jpg);
  background-size: cover;
}
.long#graf{
  background-image:url(graf.jpg);
  background-size: cover;
}

.overlay {
  /*background:rgba(102,102,102,.6);*/
  background: #f1CC6D;
  opacity: .6;
  height:100%;
  width:100%;
  max-width: 960px;
  position:absolute;
  top:-100%;
}
.overlay span {
  margin: auto 0;
  display:block;
  position:absolute;
  color:indigo;
  font-weight: bold;
  font-size: 27px;
  padding: 20px 5px 0 5px;
}







#largebox{
border:1px solid black;
}

.box_p{
  width:100%;
  max-width: 960px;
  height: 200px;
  border:1px solid black;
}

#box_1{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}
#box_2{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}
#box_3{
width:31.25%; /*300/960*/
max-width: 960px;
height: 200px;
padding: 5px;
}



/*contact*/

.form{
  font-size:20px;
}

#form_request{
  display:block;
  padding: 5px 0 5px 0;
  margin-top: 20px; /*10/960*/
  padding-left: 10px;
  display:inline-block;
}

#form_name{
  padding: 10px;
  display:block;
}

#form_email{
  padding: 10px;
  display:block;
}

#form_message{
  padding: 10px;
  display:block;
}


.text_area{
 margin-left: 10.4166667%; /*100/960*/
 margin-top:-45px; /*-45/960*/
 padding-top: 20px;
 padding-bottom: 10px;
 font-size:12px;
}

input{
  width: 33%;
  height:20%;
  font-size:12px;
}

#submit{
  width:30%;
  padding-bottom: 5px;

}

#reset{
  width:30%;
}

hr{
border-top:5px solid #ccc !important;
}
#tweet {
width:30%;
height:100%;
margin-left:660px;
margin-top: -340px;
}





